<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
		h3{
			color:#3fcdb5;
			margin:0 auto;
		}
		h4{
			color:#272636;
			margin-left: 14px;
		}
		p{
			font-size:16px;
			color:#929292;
		}
		#secondtitle{
			color:#3e3e3e;
			margin-left: 40px;
		}
		h5,h6{
			font-size:16px;
			color:#929292;
			font-weight: normal;
			margin-left:28px;
			margin-top:10px;
		}
		h6{
			color:#f36060;
			margin-bottom:10px;
			margin-top:20px;
		}
		#copyright{
			background-color:#272636;
			text-align: center;
			color:#eee;
			padding:20px;
		}



    </style>
</head>
<body>
<h3>使用條款及隱私保護聲明</h3>
<p>醫養雲APP是與康美健康雲智能腕表配套使用的健康管理專屬APP。我們的目標是提供壹個供會員記錄、使用、監控他們健康信息的工具。
</p>
<p>
    當您註冊成為會員，將受到適用於會員的條款約束。該協議規範了您做為註冊會員在使用本APP時的權利和義務。您同意在使用康美健康雲醫養雲APP的過程中受本協議的約束，您在使用我公司醫養雲APP提供的服務前，請您仔細閱讀以下聲明，您的使用行為將被視為對本聲明全部內容的認可:
</p>

<h4>壹、 會員權利與義務</h4>
<div id="secondtitle">註冊會員，您必須滿足以下任壹情況：</div>
<h5>1、 使用康美健康雲智能腕表的客戶。</h5>
<h5>2、 使用康美健康雲智能腕表的客戶的家屬或監護人。</h5>
<h5>3、 被本APP認證的會員或者職員。</h5>
<h6>註：14周歲以下的兒童禁止註冊本APP，您必須證明您已滿14周歲才可註冊本APP</h6>

<h4>二、 數據收集分類和使用</h4>
<div id="secondtitle">APP收集以下數據：</div>
<h5>1、 健康監測數據，例如：血壓、血糖、脈搏、心率、運動等；</h5>
<h5>2、 定位信息，例如：定位、活動區域等。</h5>
<div id="secondtitle">數據使用,數據（包括個人信息）可以使用和披露，包括但不限於以下情況：</div>
<h5>1、 康美健康雲服務有限公司有權使用所有的數據。</h5>
<h5>2、 萬壹康美健康雲服務有限公司通過業務轉型，如合並，或被另壹個組織收購，或出售其全部或部分資產，數據（包括個人信息），康美健康雲服務有限公司有權決定個人信息的所有權或控制權。</h5>

<h4>三、 APP行為和限制</h4>
<h5>本APP提供健康數據記錄、查看監控等功能</h5>
<h5>
    所有在本APP提供的資料，比如：健康監測數據、用藥提醒、心率感測等，都只做為健康管理目的，並不能替代專業的醫療建議和治療。請向醫生或者其他專業的健康咨詢師尋求治療建議，並千萬不要因為閱讀了本APP某些信息而忽視專業的醫療建議或者延誤治療。</h5>
<h5>如果您的身體出現突發狀況，請及時撥打120或者致電專業醫生。依賴任何本APP提供的、本APP的工作人員或者其他人提供的信息，您個人將承擔全部風險。</h5>

<div id="secondtitle">合法使用本APP</div>
<h5>所有會員保證他們的註冊信息以及隨後提供的有關自己的所有信息，都是真實、準確和非誤導性的。</h5>
<h5>禁止幹擾APP正常操作</h5>
<h5>
    禁止以任何目的使用任何手段入侵本APP，幹擾APP內容和服務的提供；禁止有目的地在本APP發布木馬病毒或其他計算機操作程序，從而破壞、幹擾、暗中截取或侵占任何系統、數據或個人信息。禁止攻擊本APP造成APP癱瘓，無法使用；禁止向本APP會員發送垃圾郵件。</h5>

<div id="secondtitle">會員密碼和登錄標識</div>
<h5>您有責任妥善保管自己的用戶信息和密碼，並完全負責所有發生在您帳戶下的所有活動。如果您向他人提供您的登錄密碼信息，您的會員資格可能會暫時中止或終止。</h5>

<div id="secondtitle">會員資格終止</div>
<h5>以下原因可能會導致會員的會員資格的終止：</h5>
<h5>1、違反本協議中的準則。</h5>
<h5>2、執法或其他政府機構的要求。</h5>
<h5>3、由您提出的要求（主動取消會員資格）。</h5>
<h5>4、意外的技術問題。</h5>

<div id="secondtitle">費用</div>
<h5>康美健康雲服務有限公司保留可隨時更改本協議以及向會員提供有償的可選收費服務條款的權利。</h5>

<h4>四、數據安全和隱私保護</h4>
<div id="secondtitle">安全問題</div>
<h5>康美健康雲服務有限公司不能保證任何會員可能提供的數據的真實性。康美健康雲服務有限公司會以合理的技術措施，使會員數據有安全保障。</h5>
<div id="secondtitle">隱私保護</div>
<h5>
    保護您的數據安全和隱私是康美健康雲服務有限公司的壹項基本政策，康美健康雲服務有限公司保證不對外公開或向第三方提供您的註冊資料及您在使用網絡服務時存儲的非公開內容，但下列情況除外：事先獲得您的明確授權；根據有關的法律法規要求；按照相關政府主管部門的要求；為維護社會公眾的利益；為維護康美健康雲服務有限公司的合法權益。</h5>
<h5>
    康美健康雲服務有限公司可能會與第三方合作向用戶提供相關的網絡服務，在此情況下，如該第三方同意承擔與康美健康雲服務有限公司同等的保護用戶隱私的責任，則康美健康雲服務有限公司有權將您的註冊資料等提供給該第三方。</h5>
<div id="secondtitle">風險和收益</div>
<h5>我們的目標是幫助患者改善健康結果，使用該APP還有壹些不知道的風險，會員可能會受到影響。</h5>
<h5>
    在使用該APP時，會員可以自由地跳過任何不需要的問題或數據域。會員也可以隨時停止使用該服務。如果壹個會員選擇關閉其帳戶，康美健康雲服務有限公司將不顯示或出售該帳戶的數據。然而，該會員的數據將留在系統中。</h5>

<h4>五、其他</h4>
<div id="secondtitle">會員通知</div>
<h5>如果您註冊為會員，您必須同意康美健康雲服務有限公司可以發送通知到您的電子郵件。</h5>
<div id="secondtitle">免責聲明</div>
<h5>康美健康雲服務有限公司對APP上提供的內容和服務不做任何明示或默示的保證和陳述，包括但不限於，對於APP內容的任何保證和特定目的，或通過APP提供的任何建議或服務。</h5>
<h5>康美健康雲服務有限公司不保證本APP的內容和服務不會中斷或沒有錯誤，或APP中的缺陷得到糾正。</h5>
<h5>使用APP上的意見、建議或其它信息，康美健康雲服務有限公司沒有任何審查結論，表示核準或認可通過，您利用這些信息必須自己承擔所有的風險。</h5>
<h5>APP 上身份證識別功能，康美健康雲服務有限公司不保證信息的準確性，請使用時仔細核對采集的信息是否有誤。</h5>
<div id="secondtitle">責任範圍[限制]</div>
<h5>
    由於您使用本APP的全部或部分內容、或APP上提供的服務導致的損害，在任何情況下不得要求康美健康雲服務有限公司、其合作夥伴、貢獻者、代理商、雇員、董事或分支機構承擔任何直接的、特殊的、間接的或相應的損害賠償（即使它已被告知此類損害的可能性）。</h5>
<div id="secondtitle">賠償</div>
<h5>您同意保障和維護康美健康雲服務有限公司、其雇員、代理人、子公司、分支機構和其他合作夥伴，免受任何索賠、訴訟或要求，包括但不限於合理的法律和會計費用、造成的結果或涉嫌違反本協議規定。</h5>
<div id="secondtitle">管轄法律和場地</div>
<h5>本協議適用於中國大陸地區。</h5>
<div id="secondtitle">修改本協議</div>
<h5>我們有權在任何時候修改本協議，在本APP上發布修改條款而不另行通知，建議您定期查看這項協議，以期及時了解任何更新或更改。</h5>

<div id="secondtitle">其他條款</div>
<h5>在沒有得到事先書面許可不得以任何方式使用康美健康雲服務有限公司的商標。</h5>
<h5>康美健康雲服務有限公司可隨時將本協議轉讓給公司的子公司或母公司或作為合並或出售的主要資產業務。</h5>
<h5>如果本協議的任何條款因為其他原因無法執行，其余條款將不受影響，繼續有效。</h5>
<h5>APP上提供的部分治療信息可能是來自第三方。</h5>
<h5>對於任何問題或意見，或對違反本協議的舉報，請聯系我們：</h5>
<div id="copyright">康美健康雲服務有限公司
    地址：深圳市福田區深南大道1006號深圳國際創新中心A座8樓<br>
    郵編：518001<br>
    電話：+86 0755-33910115<br>
    傳真：+86 0755-33910115<br>
</div>

</body>
</html>