<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		h3{
			color:#3fcdb5;
			margin:0 auto;
		}
		h4{
			color:#272636;
			margin-left: 14px;
		}
		p{
			font-size:16px;
			color:#929292;
		}
		#secondtitle{
			color:#3e3e3e;
			margin-left: 40px;
		}
		h5,h6{
			font-size:16px;
			color:#929292;
			font-weight: normal;
			margin-left:28px;
			margin-top:10px;
		}
		h6{
			color:#f36060;
			margin-bottom:10px;
			margin-top:20px;
		}
		#copyright{
			background-color:#272636;
			text-align: center;
			color:#eee;
			padding:20px;
		}

	</style>
</head>
<body>
	<h3>使用条款及隐私保护声明</h3>
		<p>健康家+APP是与康美健康云智能设备配套使用的健康管理专属APP。我们的目标是提供一个供会员记录、使用、监控他们健康信息的工具。
		</p>
		<p>当您注册成为会员，将受到适用于会员的条款约束。该协议规范了您做为注册会员在使用本APP时的权利和义务。您同意在使用康美健康云健康家+APP的过程中受本协议的约束，您在使用我公司医养云APP提供的服务前，请您仔细阅读以下声明，您的使用行为将被视为对本声明全部内容的认可:
		</p>

		<h4>一、	会员权利与义务</h4>
		<div id="secondtitle">注册会员，您必须满足以下任一情况：</div>
		<h5>1、	使用康美健康云智能设备的客户。</h5>
		<h5>2、	使用康美健康云智能设备的客户的家属或监护人。</h5>
		<h5>3、	被本APP认证的会员或者职员。</h5>
		<h6>注：14周岁以下的儿童禁止注册本APP，您必须证明您已满14周岁才可注册本APP</h6>

		<h4>二、	数据收集分类和使用</h4>
		<div id="secondtitle">APP收集以下数据：</div>
		<h5>1、	健康监测数据，例如：血压、血糖、脉搏、运动等；</h5>
		<div id="secondtitle">数据使用,数据（包括个人信息）可以使用和披露，包括但不限于以下情况：</div>
		<h5>1、	康美健康云服务有限公司有权使用所有的数据。</h5>
		<h5>2、	万一康美健康云服务有限公司通过业务转型，如合并，或被另一个组织收购，或出售其全部或部分资产，数据（包括个人信息），康美健康云服务有限公司有权决定个人信息的所有权或控制权。</h5>

		<h4>三、	APP行为和限制</h4>
		<h5>本APP提供健康数据记录、查看监控等功能</h5>
		<h5>所有在本APP提供的资料，比如：健康监测数据、用药提醒、心率感测等，都只做为健康管理目的，并不能替代专业的医疗建议和治疗。请向医生或者其他专业的健康咨询师寻求治疗建议，并千万不要因为阅读了本APP某些信息而忽视专业的医疗建议或者延误治疗。</h5>
		<h5>如果您的身体出现突发状况，请及时拨打120或者致电专业医生。依赖任何本APP提供的、本APP的工作人员或者其他人提供的信息，您个人将承担全部风险。</h5>

		<div id="secondtitle">合法使用本APP</div>
		<h5>所有会员保证他们的注册信息以及随后提供的有关自己的所有信息，都是真实、准确和非误导性的。</h5>
		<h5>禁止干扰APP正常操作</h5>
		<h5>禁止以任何目的使用任何手段入侵本APP，干扰APP内容和服务的提供；禁止有目的地在本APP发布木马病毒或其他计算机操作程序，从而破坏、干扰、暗中截取或侵占任何系统、数据或个人信息。禁止攻击本APP造成APP瘫痪，无法使用；禁止向本APP会员发送垃圾邮件。</h5>

		<div id="secondtitle">会员密码和登录标识</div>
		<h5>您有责任妥善保管自己的用户信息和密码，并完全负责所有发生在您帐户下的所有活动。如果您向他人提供您的登录密码信息，您的会员资格可能会暂时中止或终止。</h5>

		<div id="secondtitle">会员资格终止</div>
		<h5>以下原因可能会导致会员的会员资格的终止：</h5>
		<h5>1、违反本协议中的准则。</h5>
		<h5>2、执法或其他政府机构的要求。</h5>
		<h5>3、由您提出的要求（主动取消会员资格）。</h5>
		<h5>4、意外的技术问题。</h5>

		<div id="secondtitle">费用</div>
		<h5>康美健康云服务有限公司保留可随时更改本协议以及向会员提供有偿的可选收费服务条款的权利。</h5>

		<h4>四、数据安全和隐私保护</h4>
		<div id="secondtitle">安全问题</div>
		<h5>康美健康云服务有限公司不能保证任何会员可能提供的数据的真实性。康美健康云服务有限公司会以合理的技术措施，使会员数据有安全保障。</h5>
		<div id="secondtitle">隐私保护</div>
		<h5>保护您的数据安全和隐私是康美健康云服务有限公司的一项基本政策，康美健康云服务有限公司保证不对外公开或向第三方提供您的注册资料及您在使用网络服务时存储的非公开内容，但下列情况除外：事先获得您的明确授权；根据有关的法律法规要求；按照相关政府主管部门的要求；为维护社会公众的利益；为维护康美健康云服务有限公司的合法权益。</h5>
		<h5>康美健康云服务有限公司可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与康美健康云服务有限公司同等的保护用户隐私的责任，则康美健康云服务有限公司有权将您的注册资料等提供给该第三方。</h5>
		<div id="secondtitle">风险和收益</div>
		<h5>我们的目标是帮助患者改善健康结果，使用该APP还有一些不知道的风险，会员可能会受到影响。</h5>
		<h5>在使用该APP时，会员可以自由地跳过任何不需要的问题或数据域。会员也可以随时停止使用该服务。如果一个会员选择关闭其帐户，康美健康云服务有限公司将不显示或出售该帐户的数据。然而，该会员的数据将留在系统中。</h5>

		<h4>五、其他</h4>
		<div id="secondtitle">会员通知</div>
		<h5>如果您注册为会员，您必须同意康美健康云服务有限公司可以发送通知到您的电子邮件。</h5>
		<div id="secondtitle">免责声明</div>
		<h5>康美健康云服务有限公司对APP上提供的内容和服务不做任何明示或默示的保证和陈述，包括但不限于，对于APP内容的任何保证和特定目的，或通过APP提供的任何建议或服务。</h5>
		<h5>康美健康云服务有限公司不保证本APP的内容和服务不会中断或没有错误，或APP中的缺陷得到纠正。</h5>
		<h5>使用APP上的意见、建议或其它信息，康美健康云服务有限公司没有任何审查结论，表示核准或认可通过，您利用这些信息必须自己承担所有的风险。</h5>
                <h5>APP 上身份证识别功能，康美健康云服务有限公司不保证信息的准确性，请使用时仔细核对采集的信息是否有误。</h5>
		<div id="secondtitle">责任范围[限制]</div>
		<h5>由于您使用本APP的全部或部分内容、或APP上提供的服务导致的损害，在任何情况下不得要求康美健康云服务有限公司、其合作伙伴、贡献者、代理商、雇员、董事或分支机构承担任何直接的、特殊的、间接的或相应的损害赔偿（即使它已被告知此类损害的可能性）。</h5>
		<div id="secondtitle">赔偿</div>
		<h5>您同意保障和维护康美健康云服务有限公司、其雇员、代理人、子公司、分支机构和其他合作伙伴，免受任何索赔、诉讼或要求，包括但不限于合理的法律和会计费用、造成的结果或涉嫌违反本协议规定。</h5>
		<div id="secondtitle">管辖法律和场地</div>
		<h5>本协议适用于中国大陆地区。</h5>
		<div id="secondtitle">修改本协议</div>
		<h5>我们有权在任何时候修改本协议，在本APP上发布修改条款而不另行通知，建议您定期查看这项协议，以期及时了解任何更新或更改。</h5>

		<div id="secondtitle">其他条款</div>
		<h5>在没有得到事先书面许可不得以任何方式使用康美健康云服务有限公司的商标。</h5>
		<h5>康美健康云服务有限公司可随时将本协议转让给公司的子公司或母公司或作为合并或出售的主要资产业务。</h5>
		<h5>如果本协议的任何条款因为其他原因无法执行，其余条款将不受影响，继续有效。</h5>
		<h5>APP上提供的部分治疗信息可能是来自第三方。</h5>
		<h5>对于任何问题或意见，或对违反本协议的举报，请联系我们：</h5>
	<div id="copyright">康美健康云服务有限公司
地址：深圳市福田区深南大道1006号深圳国际创新中心A座8楼<br>
邮编：518001<br>
电话：+86 0755-33910115<br>
传真：+86 0755-33910115<br>
	</div>

</body>
</html>