<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09189C611D2CA46600BC218F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09189C7D1D2CA46600BC218F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09189C881D2CA46700BC218F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
