<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FuncGroup.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ProjectDocument.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E402FC91E84000C008952F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECFA9C41E4844DB001A7174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECFA9DD1E4844DB001A7174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECFA9E81E4844DB001A7174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
